<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jan's Purses</title>
  
    <link rel="stylesheet" type="text/css" href="/style.css"  />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Work+Sans" rel="stylesheet">
  </head>
  <body>
    <header>
      <img class="logo" src="https://cdn.glitch.com/436a4100-996e-4a29-8938-ecbc04571e13%2FJans%20Purse%20Wishlist.png?1525984988570" alt="logo" />
    </header>
    <main>
      <h1>Congradulations Jan!</h1>
      <h2>Do you want purses?</h2>
      <form autocomplete="off">
        
        <button id="button" type="submit">I want purses.</button>
      </form>
    </main>
    <div class="container">
    <div id="destination">

    </div>
    <div class="sectiontitle">
      <h2>PURSES</h2>
    </div>
    <section id="purseContainer">

      <div class="purse" id="purse1"></div>
      <div class="purse" id="purse2"></div>
      <div class="purse" id="purse3"></div>
      <div class="purse" id="purse4"></div>

    </section>

    <footer>
    </footer>

  </div>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src="/helpers.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
